<div
  data-controller="quiz"
  data-quiz-cities-value="<%= @quiz.normalized_city_names.to_json %>"
  data-quiz-city-lookup-value="<%= @quiz.city_lookup.to_json %>"
  data-quiz-guess-lookup-value="<%= @quiz.city_guess_lookup.to_json %>"
  data-quiz-city-coordinates-value="<%= @quiz.city_coordinates.to_json %>"
  data-quiz-duration-value="<%= @quiz.duration_seconds %>"
  data-quiz-city-count-value="<%= @quiz.city_count %>"
>

  <h1><%= @quiz.title %></h1>

  <div
    id="map"
    data-quiz-target="map"
    style="height: 500px;"
  ></div>

  <p>
    Found:
    <span data-quiz-target="count">
      0
    </span>
    /
    <%= @quiz.city_count %>
  </p>

  <p>
      Time left:
      <span data-quiz-target="timer">
          05:00
      </span>
  </p>

  <label for="city_guess">City guess</label>
  <input
    id="city_guess"
    name="city_guess"
    type="text"
    placeholder="Enter a city..."
    data-quiz-target="input"
    data-action="keydown.enter->quiz#guess"
    autocomplete="off"
  >

  <ul data-quiz-target="results">
  </ul>

</div>
